/*&display=swap*/
/*&subset=cyrillic-ext*/
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff2'),
		 url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


/*обнуление*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
	font-family: "HelveticaNeueCyr", sans-serif;
	background: #1A1A1A;
	
}
.wrapper {
	overflow: hidden;
	padding: 50px 0;
}

.bigblock{
	background-color: #252525;
	width: 255px;
	margin: 30px;
	border-radius: 6px;
}


.title{
	width: 207px;
	padding:24px 24px 26px 24px;
}
.titletext{
	width: 182px;
	font-weight:400;
	font-size:22px ;
	line-height:26px ;
	color:#FFFFFF;
	letter-spacing:-0.275px;
}
.background{
	background-color:#34C759 ;
	width: 56px;
	height: 2px;
	margin:0px 0px 24px 24px;
}

.text{
	padding: 0px 24px 60px 24px;
}

.texttext{
width: 207px;
font-weight: 400;
font-size:13px;
line-height:18px;
letter-spacing:-0.16px;
color: #ffffff7e;
margin-bottom: 8px;
}

.mainblock{
	width: 350px;
	background-color:#252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin: 30px;
}

.conteyner{
	margin: 0px 30px 0px 30px;
}

.beuty{
	margin-bottom: 29px;
}

.blockbigtitle{
	width: 290px;

}

.bigtitle{
	width: 207px;
	font-weight: 400;
	font-size:32px;
	line-height:30px;
	color: #D9D9D9;
	margin-bottom: 9px;
}
.blocksmalltitle{
	width: 290px;
	margin-bottom: 20px;
}
.smalltitle{
	width: 162px;
	font-weight: 400;
	font-size:12px;
	line-height:16px;
	color: #A4A8B2;
	letter-spacing:-0.15px;
	margin-bottom: 5px;
}

.blockmaintext{
	width: 290px;
	margin-bottom: 26px;

}

.maintext{
	width: 273px;
	font-weight: 400;
	font-size:13px;
	line-height:18px;
	color: #A4A8B2;
	letter-spacing:-0.16px;
	margin-bottom: 6px;
}
.newbuttom{
	width: 350px;
	margin: 0px 34px 0px 24px;
	padding-bottom: 24px;
}

.stars{
	display: inline-block;
	width: 155px;

}


.buttom{
	background: #262626;
	border: 2px solid #303030;
	border-radius: 30px;
	padding:17px 32px 17px 32px;
	width: 36px;
	font-weight: bold;
	font-size:10px;
	line-height:40px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing:0.2em;
	text-transform: uppercase;
	background: #262626;
	margin-left: 41px;
